<div class="space-line-15"></div>
<div class="row justify-content-center">
  <div class="col-2">
    <div class="card" style="width: 25rem;">
      <div class="card-body">
        <h3 class="card-title">Faça o Login <i class="bi bi-box-arrow-in-right"></i></h3>
        <br>
        <input type="email"
               id="inputEmail"
               class="form-control"
               placeholder="Email"
               required=""
               autofocus="">
        <br>
        <input type="senha"
               id="inputSenha"
               class="form-control"
               placeholder="Senha"
               required=""
               autofocus="">
        <br>
        <div class="d-flex justify-content-center">
          <button (click)="authenticate()" class="btn btn-lg btn-primary btn-block" type="submit">
            Entrar
          </button>
        </div>
        <br>
        <a href="/register" class="card-link d-flex justify-content-center text-decoration-none">
          <i class="bi bi-lock-fill icon-space"></i>Esqueceu sua senha?
        </a>
      </div>
    </div>
  </div>
</div>



