<div class="container">
  <div class="text-center">
    <form class="form-signin">
      <img class="mb-4" src="../../assets/brand/sign-in.png" alt="" width="72" height="72">
      <h1 class="h3 mb-3 font-weight-normal">Faça o seu login </h1>
      <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required="" autofocus="">
      <br>
      <input type="password" id="inputPassword" class="form-control" placeholder="Password" required="">
      <div class="checkbox mb-3">
        <label>
          <input type="checkbox" value="remember-me"> Remember me
        </label>
      </div>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Entrar</button>
      <p class="mt-5 mb-3 text-muted">© 2017-2018</p>
    </form>
  </div>
</div>

