<div class="space-line-15"></div>
<div class="row justify-content-center">
  <div class="col-2">
    <div class="card" style="width: 25rem;">
      <div class="card-body">
        <h3 class="card-title">Crie sua Conta <i class="bi bi-pencil-square"></i></h3>
        <br>
        <input type="nome"
               id="inputNome"
               class="form-control"
               placeholder="Nome"
               required="" autofocus="">
        <br>
        <input type="sobrenome"
               id="inputSobrenome"
               class="form-control"
               placeholder="Sobrenome"
               required=""
               autofocus="">
        <br>
        <input type="email"
               id="inputEmail"
               class="form-control"
               placeholder="Email"
               required=""
               autofocus="">
        <br>
        <input type="senha"
               id="inputSenha"
               class="form-control"
               placeholder="Senha"
               required=""
               autofocus="">
        <br>
        <input type="repitaSenha"
               id="inputRepitaSenha"
               class="form-control"
               placeholder="Repita a senha"
               required=""
               autofocus="">
        <br>
        <a (click)="login()" href="/login" class="card-link d-flex justify-content-center text-decoration-none">
          Já é cadastrado?
        </a>
      </div>
    </div>
  </div>
</div>

